#coursesTable table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #DDDDFF;
    margin-bottom: 30px;
}
#coursesTable td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
#coursesTable tr:nth-child(even) {
    background-color: lightblue;
}
#links a{
    margin-left: 20px;
}
