<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Product</title>
    </head>
    <body>
        <div id="addCourse">
            <h2>Add a New Product:</h2>
            <form action="/process" method="post">
            {% csrf_token %}
                Name: <input type="text" name="name"><br>
                Description: <input type="text" name="description"><br>
                <button name="add">Add</button>
            </form>
        </div>
    </body>
</html>
