<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2>Product id #{{course.id}}</h2>
            <label>Name:</label>
            <p>{{course.name}}</p>
            <label>Description:</label>
            <p>{{course.description}}</p>
            <label>Created At:</label>
            <p>{{course.created_at}}</p>
        <form class="" action="/goback">
            <button>Edit</button>
        </form>
        <form class="" action="/goback">
            <button>Go Back</button>
        </form>
    </body>
</html>
