<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Survey</title>
		<style>
			#wrapper{
				margin-left: auto;
				margin-right: auto;
				margin-top: 150px;
				padding: 3px;
				width: 250px;
				border: 2px solid black;
			}
		</style>
	</head>
	<body>
		<div id = "wrapper">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<div id="flash">
					{% for message in messages %}
						<p>{{message}}</p>
					{% endfor %}
					</div>
				{% endif %}
			{% endwith %}
			<form action = "/process" method = "post">
				Enter Email: <input type = "text" name = "email" value="">
				<input type = "submit" value = "Submit">
			</form>
		</div>
	</body>
</html>
